@import '../../../../GlobalCSS/config';

.calendar-page {

    // &.has-pb {
    //     padding-bottom: 90vh;
    // }
}

.date-info {
    position: sticky;
    top: -1rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1rem;
    background-color: #f0f0f0;
    border-radius: 1rem;
    padding-right: 1rem;
    box-shadow: 10px 10px 30px rgba(#000, .2);

    .left {

        p {
            @include tablet-xsm {
                font-size: 1.1rem;
            }
            
            font-size: 1.3rem;
            color: #777777;
            font-weight: 800;
        }
    }

    .right {
        display: flex;
        align-items: center;

        .switch-button {
            @include tablet-xsm {
                font-size: 1.1rem;
                padding: .2rem .5rem;
            }

            padding: .5rem .8rem;
            background-color: #d4d4d4;
            font-size: 1.3rem;
            border-radius: .3rem;
            cursor: pointer;
        }

        .text {
            @include tablet-xsm {
                font-size: 1.4rem;
            }

            font-size: 1.7rem;
            font-weight: 900;
            margin: 0 1.3rem;
        }
    }
}