.contests-table.subjects-overview {
    min-width: 320px !important;

    .cell.small {
        text-align: center;

        .icon {
            font-size: 20px;
            color: var(--primary-color);
            cursor: pointer;
        }
    }
}