@import '../../../GlobalCSS/config';

.filter-options {
    margin-bottom: 1rem;
    width: 100%;

    .heading {
        margin-bottom: .2rem !important;
    }

    .options {
        @include tablet-xxsm {
            flex-flow: column;
        }

        display: flex;
        width: 100%;
        flex-flow: row;

        .option {
            width: 100%;
            min-width: 200px;
            display: inline-block;
            padding-right: 1rem;

            .dropdown {
                width: 100% !important;
                min-width: 100% !important;
            }

            .label {
                font-weight: bold;
            }
        }
    }
}

.display-modal {
    @include tablet-xsm {
        top: auto;
        bottom: -5rem
    }

    position: sticky;
    width: 100%;
    height: 50vh;
    bottom: -2.5rem;
    background-color: #f3f3f3;
    margin: 0;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    box-shadow: 0 -10px 30px rgba(0, 0, 0, .2);
    padding: 2rem;
    transition: all .2s;
    overflow-x: hidden;

    &.extended {
        height: 90vh;
    }

    &.hidden {
        // height: 0 !important;
        // max-height: 0px !important;
        transform-origin: 50% 100% 50%;
        transform: scale(0);
    }

    .content {
        @include tablet-xsm {
            padding-top: 1.2rem;
        }

        position: relative;
        
        .handlers {
            position: absolute;
            top: -1.5rem;
            left: auto;
            right: -2rem;
            display: flex;


            .handler-btn {
                width: 40px;
                height: 40px;
                background-color: #fff;
                border-radius: 2rem;
                box-shadow: 0 0px 10px rgba(0, 0, 0, .1);
                margin-right: 1rem;
                transition: .2s;
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: center;
                color: #464646;

                .icon {
                    transition: .2s;
                }

                &.active {

                    .icon {
                        transform: rotate(180deg)
                    }
                }

                &:hover {
                    box-shadow: 0 0px 15px rgba(0, 0, 0, .15);
                }
            }
        }
    }
}