.calendar {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    margin-top: 2rem;
    justify-content: space-between;

    .month-card {
        width: 100%;
        max-width: 320px;
        border-radius: 1rem;
        display: flex;
        flex-direction: column;
        background-color: #fdfcfc;
        margin-right: 2rem;
        margin-bottom: 3rem;
        transition: all .2s;
        box-shadow: 10px 10px 30px rgba(#000, .15);

        &:hover {
            box-shadow: 5px 5px 50px rgba(#000, .25);
        }

        .top {
            background-color: #dddddd;
            border-top-left-radius: 1rem;
            border-top-right-radius: 1rem;
            padding: 1rem;
            font-size: 1.2rem;
            font-weight: bold;
        }

        &.active {
            
            .top {
                background-color: var(--primary-color);
                color: #fff;
            }
        }

        .bottom {
            display: grid;
            grid-template-columns: repeat(7, 1fr);
            padding: 1rem;
            grid-row-gap: .5rem;
            padding-top: .5rem;
            justify-items: center;

            .weekday-node {
                font-size: 12px;
                color: #cfcfcf;
                text-align: center;
                text-transform: uppercase;
                font-weight: 900;
            }

            .day-node {
                border-radius: 100%;
                height: 30px;
                width: 30px;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                transition: all .2s;
                font-weight: 700;
                text-align: center;

                &:hover {
                    background-color: rgb(247, 247, 247);
                }

                &.disabled {
                    background-color: rgb(235, 235, 235);
                }

                &.active {
                    background-color: var(--primary-color) !important;
                    color: #fff !important;
                    opacity: 1 !important;
                }

                &.highlighted {
                    background-color: var(--primary-color);
                    opacity: .5;
                    color: #fff !important;
                }
            }
        }
    }
}